allow tee fingerprintd_data_file:dir rw_dir_perms;
allow tee fingerprintd_data_file:file create_file_perms;
allow tee gx_fpd_data_file:dir { read open };
allow tee gx_fpd_data_file:file { read write open };
